#catListeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  a {
    padding: 2rem;
    background-color: rgb(203, 212, 222);
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
}

#produkt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  position: relative;
  border: solid, black, 3px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card img {
  max-width: 100%;
  border-bottom: 2px solid black;
  border-radius: 20px;
}

@media (min-width: 800px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
header,
footer {
  background-color: rgb(203, 212, 222);
}
body {
  background-color: aliceblue;
}
a {
  text-decoration: none;
  color: black;
}

.logo-billede {
  max-width: 75px;
}

/* udsolgt */
.udsolgt {
  filter: grayscale(1);
  opacity: 0.5;
  pointer-events: none;
}
.SoldOut {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: yellow;
  color: black;
  rotate: -10deg;
}

/* rabat */
.Discountlabel {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  background-color: yellow;
  color: black;
  rotate: -10deg;
}
